
body {
    background-color: black;
    color: white;
}
header {
    margin-top: 10px;
}
.txtctr {
    text-align: center;
}

.btnhldr {
    min-height: 40px;
}
.inputw {
    width: 255px;
}
.celeb {
    margin: 5px;
}
#brheight {
    margin-top: 10px;
}
hr {
    border-color: lightgray;
}